.phones {
  margin: 10px 20px 10px 20px;
  padding-top: 10px;
}

.loadingWindow {
  display: grid;
  align-content: center;
  justify-content: center;
}

.LoadingWindowTextContainer {
  margin: 20px 0px 0px 0px;
}

.LoadingWindowText {
  font-weight: 100;
  font-size: 18px;
}

.circles {
  margin-top: 50px;
  position: relative;
}
.circle {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  opacity: 0.9;
}
.c1 {
  background-color: #5b8afd;
  animation: moving 2s ease-in-out infinite;
}
.c2 {
  background-color: #ff635c;
  animation: moving2 2s ease-in-out infinite;
}
@keyframes moving {
  0% {
    transform: translateX(0);
    z-index: 33;
  }
  50% {
    transform: translateX(110px) scale(1.1);
  }
  100% {
    transform: translateX(0);
    z-index: -33;
  }
}
@keyframes moving2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-110px) scale(1.1);
  }
  100% {
    transform: translateX(0);
  }
}

.phonesTitle {
  color: rgba(0, 0, 0, 0.781);
  font-size: 26px;
  margin: 30px 0px 30px 0px;
  font-weight: 100;
}

.phonesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 5px 30px 5px;
  margin-bottom: 50px;
}
