@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app {
  margin-top: 50px;
  padding: 2px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.849); */
}

.appTitle {
  color: white;
  font-size: 24px;
}

.Link {
  text-decoration: none;
}
