@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: #6c46a7;
}

.app {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
  padding: 2px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.appTitle {
  color: white;
  font-size: 24px;
}

.Link {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
}
