.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.582);
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0; 
  z-index: 99;
  padding-top: 10px;
  width: 100%;
}

.navbarLogoContainer {
  display: flex;
  float: left;
  align-items: center;
  margin-left: 20px;
  text-align: left;
}

.navbarLogo{
  cursor: pointer;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.navbarLogo:hover {
  color: #ff635c;
}

.navbarList{
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.navbarListOpt{
  margin: 0px 20px;
}

.navbarListOptText{
  font-weight: 300;
  color:black;
}

.navbarListOptText:hover{
  color: #5b8afd;
}

.navbarBuyIcon{
  height: 20px;
}
