.navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.582);
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0; 
  width: 100%;
  z-index: 99;
}

.navbarLogoContainer {
  display: flex;
  float: left;
  align-items: center;
  margin-left: 20px;
}

.navbarLogo{
  cursor: pointer;
  font-size: 14px;
  color: black;
}

.navbarList{
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.navbarListOpt{
  margin: 0px 20px;
}

.navbarListOptText{
  text-decoration: none;
  font-weight: 300;
  color:black;
}

