.phoneLoading {
  width: 300px;
  height: 500px;
  background-color: red;
}

.phone {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  margin: 10px 13px 15px 10px;
  padding: 5px 0px;
  width: 300px;
  height: 500px;
  justify-content: center;
}

.phoneTitleContainer {
  border-bottom: 1px solid #dddddd;
  margin: 0px 20px;
}

.phoneTitle {
  color: #4F4F4F;
  font-size: 20px;
  margin: 20px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phoneTitle:hover {
  color: #6c46a7;
}

.phonePic {
  height: 260px;
  padding: 5px;
}

.phonePic:hover {
  cursor: pointer;
  opacity: 0.9;
}

.phonePrice {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.753);
  margin: 10px 0px;
  font-weight: 900;
}

.phonePriceOld {
  text-decoration: line-through;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.753);
  margin: 10px 0px;
}

.phoneButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #dddddd;
  margin: 0px 20px;
}

.phoneButtonView {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #4F4F4F;
  color: #4F4F4F;
  font-weight: 100;
  border-radius: 3px;
  padding: 8px 12px;
  margin: 15px 0px 15px 0px;
  font-size: 14px;
  background-color: white;
}

.phoneButtonView:hover{
  border: 1px solid #6c46a7;
  color: #6c46a7;
}

.phoneButtonBuy {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 11px 22px;
  margin: 15px 0px 15px 0px;
  font-size: 14px;
}

.phoneButtonBuy:hover {
  background-color: #6c46a7;
}

.phoneButtonBuyIcon {
  height: 20px;
  margin: 0px 4px;
}


